body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

div {
  background-color: #deece8;
}

h1 {
  margin: 0;
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 550%;
  color: #00b69b;
  line-height: 2;
}

.top-cointainer {
  padding-top: 100px;
}

.anuj {
  font-family: 'Montez', cursive;
  font-size: 40px;
  color: #00b69b;
  font-weight: normal;
}

h2 {
  font-family: 'Russo One', sans-serif;
  color: #00b69b;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Russo One', sans-serif;
  color: #00b69b;
}

p {
  font-family: 'Major Mono Display', monospace;
}

hr {
  border: dotted #deece8 6px;
  border-bottom: none;
  width: 30%;
  margin: 2 0px auto;
}

.goal {
  width: 30%;
  text-align: center;
  margin: auto;
  line-height: 2;
}

.developer {
  width: 30%;
  text-align: center;
  margin: auto;
  line-height: 2;
}

a{
  color: #11999E;
  font-family: 'Gugi', cursive;
}
a:hover{
  color: #EAF6F6;

}


.intro {
  width: 30%;
  text-align: center;
  margin: auto;
  line-height: 2;
}

.bottom-cloud {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 250px;
  bottom: 300px;
  margin: 100px 0;
}

.top-cloud {
  position: absolute;
  height: 200px;
  width: 200px;
  right: 200px;
  top: 60px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.butn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #3e3cb;
  background-image: -webkit-linear-gradient(top, #3e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #3e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #3e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #3e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #3e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-cointainer {
  background-color: #77b5b5;
  padding: 30px 0 30px;
}
